# Python virtual environment
venv/
ENV/
env/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Flask or Python environment files
instance/
.env
*.log

# OS & Editor specific
.DS_Store
Thumbs.db
.vscode/
.idea/
